@model sistema.Models.Pedido

@{
    ViewData["Title"] = "Adicionar Pedido";
}

<h1>@ViewData["Title"]</h1>

<h4>Pedido</h4>
<hr />
    <div class="panel-heading">
        <h3 class="panel-title">Total Pedido: </h3>@*acrecentar o valor total depois*@
    </div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" placeholder="Digite o Nome do Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>

                <label asp-for="Produtos" class="control-label"></label>
                <input asp-for="Produtos" placeholder="Digite o Nome do Produto" class="form-control" />
                <span asp-validation-for="Produtos" class="text-danger"></span>

                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" type="number" placeholder="Me informe a Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
